{% extends 'base.html' %}
{% block content %}
    <h1 class="page-header">管理页面</h1>
    <div class="row placeholders">
        <div class="col-xs-6 col-sm-3 placeholder">
            <img src="https://timgsa.baidu.com/timg?image&quality=80&size=b9999_10000&sec=1522148993&di=a01e0d8ac571bae502ee666b4ef61de8&imgtype=jpg&er=1&src=http%3A%2F%2Fimg3.duitang.com%2Fuploads%2Fitem%2F201511%2F20%2F20151120170848_UnmfR.jpeg"
                 width="200" height="200" class="img-responsive" alt="Generic placeholder thumbnail">
            <h4>Label</h4>
            <span class="text-muted">就你这几张破图我都懒得跟你斗</span>
        </div>
        <div class="col-xs-6 col-sm-3 placeholder">
            <img src="https://timgsa.baidu.com/timg?image&quality=80&size=b9999_10000&sec=1521554274082&di=5b7fb65bd8c79473636cbf6d86e865ec&imgtype=0&src=http%3A%2F%2Fimg4.duitang.com%2Fuploads%2Fitem%2F201601%2F22%2F20160122122717_fWQEe.jpeg"
                 width="200" height="200" class="img-responsive" alt="Generic placeholder thumbnail">
            <h4>Label</h4>
            <span class="text-muted">从未见过如此厚颜无耻之人</span>
        </div>
        <div class="col-xs-6 col-sm-3 placeholder">
            <img src="https://timgsa.baidu.com/timg?image&quality=80&size=b9999_10000&sec=1521554274087&di=07ea9415f3cd73507b2685262f2d9468&imgtype=0&src=http%3A%2F%2Fpic.qqtn.com%2Fup%2F2017-5%2F2017051917215650833.jpg"
                 width="200" height="200" class="img-responsive" alt="Generic placeholder thumbnail">
            <h4>Label</h4>
            <span class="text-muted">我凭勇气开的团凭什么说我瞎带节奏</span>
        </div>
        <div class="col-xs-6 col-sm-3 placeholder">
            <img src="https://timgsa.baidu.com/timg?image&quality=80&size=b9999_10000&sec=1521554274080&di=63b13e8895b98bad7791edba561579f6&imgtype=0&src=http%3A%2F%2Fimg.99danji.com%2Fuploadfile%2F2016%2F0830%2F20160830093435529.png"
                 width="200" height="200" class="img-responsive" alt="Generic placeholder thumbnail">
            <h4>Label</h4>
            <span class="text-muted">先定一个小目标，比如说先瘦30斤</span>
        </div>
    </div>

    <!--面板开始-->
    <div class="panel panel-primary">
        <div class="panel-heading">数据统计</div>
        <div class="panel-body">
            <!--数据表开始-->
            <div class="row">

                <div class="col-lg-4">
                    <div class="input-group ">
                        <input type="text" class="form-control" placeholder="Search for...">
                        <span class="input-group-btn">
                                <button class="btn btn-default" type="button">Go!</button>
                            </span>
                    </div><!-- /input-group -->
                </div>


                <button class="btn btn-success  col-lg-offset-6 col-lg-1">添加</button>
            </div>
            <hr>
            <div class="table-responsive">
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th>#</th>
                        <th>学号</th>
                        <th>姓名</th>
                        <th>班级</th>
                        <th>总时长（h）</th>
                        <th>请假时长（h）</th>
                        <th>操作</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>1001</td>
                        <td>2015221455</td>
                        <td>傻秋</td>
                        <td>计科141</td>
                        <td>250</td>
                        <td>250</td>
                        <td>
                            <button class="btn btn-info">编辑</button>
                            <button class="btn btn-danger">删除</button>
                        </td>

                    </tr>
                    <tr>
                        <td>1001</td>
                        <td>2015221455</td>
                        <td>傻秋</td>
                        <td>计科141</td>
                        <td>250</td>
                        <td>250</td>

                        <td>
                            <button class="btn btn-info">编辑</button>
                            <button class="btn btn-danger">删除</button>
                        </td>
                    </tr>
                    <tr>
                        <td>1001</td>
                        <td>2015221455</td>
                        <td>傻秋</td>
                        <td>计科141</td>
                        <td>250</td>
                        <td>250</td>
                        <td>
                            <button class="btn btn-info">编辑</button>
                            <button class="btn btn-danger">删除</button>
                        </td>
                    </tr>
                    <tr>
                        <td>1001</td>
                        <td>2015221455</td>
                        <td>傻秋</td>
                        <td>计科141</td>
                        <td>250</td>
                        <td>250</td>
                        <td>
                            <button class="btn btn-info">编辑</button>
                            <button class="btn btn-danger">删除</button>
                        </td>
                    </tr>
                    <tr>
                        <td>1001</td>
                        <td>2015221455</td>
                        <td>傻秋</td>
                        <td>计科141</td>
                        <td>250</td>
                        <td>250</td>
                        <td>
                            <button class="btn btn-info">编辑</button>
                            <button class="btn btn-danger">删除</button>
                        </td>
                    </tr>
                    <tr>
                        <td>1001</td>
                        <td>2015221455</td>
                        <td>傻秋</td>
                        <td>计科141</td>
                        <td>250</td>
                        <td>250</td>
                        <td>
                            <button class="btn btn-info">编辑</button>
                            <button class="btn btn-danger">删除</button>
                        </td>
                    </tr>
                    <tr>
                        <td>1001</td>
                        <td>2015221455</td>
                        <td>傻秋</td>
                        <td>计科141</td>
                        <td>250</td>
                        <td>250</td>
                        <td>
                            <button class="btn btn-info">编辑</button>
                            <button class="btn btn-danger">删除</button>
                        </td>
                    </tr>
                    <tr>
                        <td>1001</td>
                        <td>2015221455</td>
                        <td>傻秋</td>
                        <td>计科141</td>
                        <td>250</td>
                        <td>250</td>
                        <td>
                            <button class="btn btn-info">编辑</button>
                            <button class="btn btn-danger">删除</button>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <!--数据表结束-->

            <!--面板底部开始-->
            <div class="panel-footer">
                <!--分页-->
                <nav aria-label="Page navigation">
                    <ul class="pagination pull-right">
                        <li>
                            <a href="#" aria-label="Previous">
                                <span aria-hidden="true">&laquo;</span>
                            </a>
                        </li>
                        <li><a href="#">1</a></li>
                        <li><a href="#">2</a></li>
                        <li><a href="#">3</a></li>
                        <li><a href="#">4</a></li>
                        <li><a href="#">5</a></li>
                        <li>
                            <a href="#" aria-label="Next">
                                <span aria-hidden="true">&raquo;</span>
                            </a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
    <script>
    $('.nav-sidebar li').siblings().removeClass('active')
    $('.nav-sidebar li').eq(1).addClass('active')
    </script>
{% endblock content %}